{% extends 'vitaral_nutrition_app/base.html' %}
{% load static %}
{% block navbar %}
<script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window,document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
     fbq('init', '546892679335229');
    fbq('track', 'PageView');
    </script>
    <noscript>
     <img height="1" width="1"
    src="https://www.facebook.com/tr?id=546892679335229&ev=PageView
    &noscript=1"/>
    </noscript>
	<link rel="stylesheet" href="{% static 'src/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'src/owl.theme.default.min.css' %}">
    <style>
        .bg_top{
            background: transparent !important;
        }
        .enter_now_btn3{
            background: black !important;
            border: 2px solid orangered;
            padding: 15px 70px;
            border-radius: 50px;
            outline: 0;
        }
      .owl-carousel{
          background: white;
        width: 100%;
      }
      .item{
        width: 100%;
        height: auto;
      }
      .img-fluid{
        width: 100%;
        object-fit: scale-down;
        max-height: 100px !important;
      }
      .content-area{
        width: 100%;
        height: 600px;
        position: relative;
      }
      .custom-overlay{
        padding: 10px;
        position: absolute;
        top: 450px;
        height: 150px;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.7);
        opacity: 1;
        transition: all 400ms ease-in-out;
      }
      .custom-overlay:hover{
        opacity: 1;
      }
      .custom-overlay p{
        color: #000;
        line-height: 1.6;
        font-size: 2.2em;
      }
      .owl-dots{
		color: black;
        text-align: center;
        margin-top: 5%;
      }
      .owl-dot{
        display: inline-block;
        border-radius: 10px;
        {#background-color: rgb(0, 0, 0);#}
        opacity: 0.8;
        margin: 0 5px;}

      .owl-dot.active{
            background-color: rgb(59, 59, 59)
      }
      .content-area img{
        text-align: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 600px;
      }
      #slider{
        {#margin-top: 5%;#}
          height:650px;
      }
	  @media(max-width: 600px){
          #slider{
            {#margin-top: 5%;#}
              height:450px;
          }
          .custom-overlay {
              top: 250px;
              height: 200px;
          }
          .sixth-one{
              top: 450px !important;
          }
          .custom-overlay p{
            color: #000;
            line-height: 1.6;
              font-size: 18px !important;
          }
            .content-area{
                width: 100% !important;
                height: 400px !important;
            }
            .content-area img{
                text-align: center;
                top: 0;
                left: 0;
                width: 100%;
                height: 400px;
              }
		.slider_bg{
			display: none;
		}
        .fa-chevron-left{
            opacity: 0;
            top: 500px !important;
        }
        .fa-chevron-right{
            opacity: 0;
            top: 500px !important;
        }
        .fa-chevron-left:hover, .fa-chevron-right:hover{
            opacity: 1 !important;
        }
	  }
        .about_us{
            background-color: rgba(255, 155, 109, 0.678);
        }
        .active{
            background: transparent !important;
        }
    </style>
		<div id="slider" class="container owl-carousel owl-theme" style="background-color: white; width: 100%;">
		  <div class="content-area">
			  <img src="{% static 'src/imgs/slider/Competition Slide1.jpg' %}" class="mx-auto">
			  <span class="custom-overlay owl-slide-text">
                  <p style="font-size: 2rem; font-weight: 600;">“Eat breakfast like a king, lunch like a prince, and dinner like a pauper.” <br>– Adelle Davis</p>
			  </span>
		  </div>
          <div class="content-area">
			  <img src="{% static "src/imgs/slider/Competition Slide2.jpg" %}" class="mx-auto">
			  <span class="custom-overlay">
                  <p style="font-size: 1.9rem; font-weight: 600;">“When diet is wrong, medicine is of no use. When diet is correct, medicine is of no need”. <br>– Ayurvedic Proverb</p>
			  </span>
		  </div>
		  <div class="content-area" style="background-color: white;">
			  <img src="{% static 'src/imgs/slider/Competition Slide3.jpg' %}" class="mx-auto">
			  <span class="custom-overlay">
				<p style="font-size: 2rem; font-weight: 600;">“From the bitterness of disease man learns the sweetness of health.” <br>– Catalan Proverb</p>
			  </span>
		  </div>
          <div class="content-area">
			  <img src="{% static 'src/imgs/slider/Competition Slide4.jpg' %}" class="mx-auto">
			  <span class="custom-overlay">
				<p style="font-size: 1.8rem; font-weight: 600;">“Those who think they have no time for healthy eating will sooner or later have to find time for illness.” <br>– Edward Stanley</p>
			  </span>
		  </div>
		  <div class="content-area">
			  <img src="{% static 'src/imgs/slider/Competition Slide5.jpg' %}" class="mx-auto">
			  <span class="custom-overlay">
				<p style="font-size: 1.8rem; font-weight: 600;">“The doctor of the future will no longer treat the human frame with drugs, but rather will cure and prevent disease with nutrition.” <br>– Thomas Edison</p>
			  </span>
		  </div>
		  <div class="content-area">
			  <img src="{% static 'src/imgs/slider/Competition Slide6.jpg' %}" class="mx-auto">
			  <span class="custom-overlay">
				<p style="font-size: 1.8rem; font-weight: 600;">“Take care of yourself, be healthy, and always believe you can be successful in anything you truly want.” <br>– Alessandra Ambrosio</p>
			  </span>
		  </div>
		</div><br><br>
    <div class="col-md-12 mx-auto text-center" style="background-color: white;">
        <div class="container mx-auto text-center justify-content-center" style="font-size: 20px; color: black">
            <div class="text-left">
                <p>It seems as if every single day, Health is becoming a key issue in everyday society. Young people and I am talking about those as young as 17yrs of age are contracting serious dietary illnesses such as diabetes and high blood pressure just to name a few dietary diseases. This is due to what they eat and how it is prepared.  </p>
                <p>The health system is not designed to keep people healthy.  The health system is designed to respond to disease.   Those systems are built to wait for people. They’re not built to reach out to people.  In some cases you may never leave as you arrived.  This is true hard fact and only you can do something to minimise those risks.</p>
                <p>Vitaral Nutrition is designed and built to reach out to people and bring in the very important conversation that actually people need to own their own health; and care about it. To own your own health, you need to be informed and empowered, as you are to deal with your health at home.  </p>
                <p>This is where Vitaral Nutrition comes into play, we reach out to people in the community and invite them to have that very important conversation and own their own health via a FREE health and nutrition presentation.</p>
                <br><h3><b>WE HAVE TWO CHOICES:</b></h3><br><br>
                <p>1.  Deal with health at home by taking ownership and being empowered by Team Vitaral Nutrition</p>
                <p>2.  Deal with the disease at the hospital and the complications it may bring including death.</p>
                <p>Our health and nutrition care presentation is free but the waterless and greaseless cookery is not.</p>
                <p>The most expensive set can be over £20,000 however, we offer a starter pathway to a better and smarter health and nutrition care package for under £60 a month.  That's less than the cost of a cup of coffee per day!  For an additional £4 extra a month there’s so much more to have.</p>
                <p>The best news yet is the health and nutrition 316Ti waterless and greaseless cookery package includes a limited lifetime warranty absolutely FREE on all products.</p>
                <p>The initial investment for an Executive Chef set £20,395 buying piece by piece, it’s expensive but so is death.  A lot of people complain, for the very same reason so we are doing something.</p>
                <p>We believe that everyone should have their very own 316Ti surgical steel waterless and greaseless cookware and take control of their health at home. To raise a greater awareness and give a lucky person the Top of The Range 316Ti surgical steel waterless and greaseless Executive set for just £11; we have launch our very own raffle competition.</p>
                <p>Our Selfie and Skills Competition provides everyone in the UK with a chance of owning a £20,000+  worth of 316Ti surgical steel waterless and greaseless cookware set for just £11.</p>
                <br><h3><b>THE VENTURE TEAM</b></h3><br><br>
                <p>Vitaral Nutrition is a multicultural e-commerce platform based in London United Kingdom that facilitates business-to-consumer Food! Health Edification in home, coupled with health and fitness goods and services online.  </p>
                <p>Vitaral Nutrition are a team of healthy nutrition waterless and greaseless cookery consultants.</p>
                <p>The aim is to help people better understand the importance in vitamin and mineral nutrition in their diet.  It's a whole new look at lifestyle choice and not a diet plan; to help prevent illnesses such as: </p><br><br>
                <p>Type 2 Diabetes, Heart Disease, High Cholesterol, High Blood Pressure, Obesity, Cancer, Stroke and IBS.  </p>
                <p>We help individuals enjoy a healthy lifestyle by showing them how to prepare healthy nutritious meals for their families using the right equipment and proven techniques, maximising the level of vitamin and mineral nutrition in the food they cook without using Oils, Fats or Grease and a single drop of water, to look better, feel better and live longer. </p>
                <p>We also show them how it we can helps them save money on domestic bills, reduce food waste and increase their spending power so to afford 316Ti surgical waterless and greaseless cookware.  </p>
                <p>Do you need Health and Nutrition care?  We give you a simple bespoke health and nutrition care package for you and your family for less than the cost of the latest smart phone, a large pizza or a TV viewing package. Appointments can be booked via the website by completing the Qualifier Questionnaire -<a href="https://vitaral.co.uk/#start_QQ">QQ.</a></p>
                <p>Right Now!  This Very moment sign up and join the Selfie and Skills competition Now!</p>
            </div><br>
            <a class="mx-auto text-center" href="{% url 'register_here' %}"><button class="btn btn-primary enter_now_btn3">ENTER NOW</button></a>
        </div>
    </div><br><br>
    <script src="{% static 'src/owl.carousel.min.js' %}"></script>
    <script>
		$('#slider').owlCarousel({
			loop:true,
			margin:10,
			nav:false,
			autoplay:true,
			responsive:{
				0:{
					items:1
				},
				600:{
					items:1
				},
				1000:{
					items:1
				}
			}
		})
	</script>
{% endblock navbar %}