{% extends 'vitaral_nutrition_app/base.html' %}
{% load static %}
{% block navbar %}
<script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window,document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
     fbq('init', '546892679335229');
    fbq('track', 'PageView');
    </script>
    <noscript>
     <img height="1" width="1"
    src="https://www.facebook.com/tr?id=546892679335229&ev=PageView
    &noscript=1"/>
    </noscript>
    <style>
        .bg_top{
            background: none !important;
        }
    .active{
        background-color: transparent;
    }
    </style>
    <div class="container" style="padding: 100px 0px;">
        <div class="mx-auto text-center">
            <h2 style="color: black">You've Already Given The Competition !!!</h2>
        </div>
    </div>
{% endblock navbar %}