{% extends 'vitaral_nutrition_app/base.html' %}
{% load static %}
{% block navbar %}
<script>
    !function (f, b, e, v, n, t, s) {
        if (f.fbq) return; n = f.fbq = function () {
            n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
        };
        if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
        n.queue = []; t = b.createElement(e); t.async = !0;
        t.src = v; s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
        'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '546892679335229');
    fbq('track', 'PageView');
</script>
<noscript>
    <img height="1" width="1" src="https://www.facebook.com/tr?id=546892679335229&ev=PageView
    &noscript=1" />
</noscript>
<style>
    .uform {
        color: black;
        font-family: "Lora";
    }

    .bg_top {
        background: transparent !important;
    }

    .divider {
        height: 60px;
        border-right: 2px solid black;
    }

    label {
        font-size: 1rem;
    }

    .signin_form,
    .register_form {
        border-radius: 5px;
        border: 2px solid #d6d6d6;
        padding: 50px;
    }

    .check_my {
        background: white !important;
        border: 2px solid red !important;
        border-radius: 2px;
    }

    .form-control {
        border: 1px solid black;
    }

    .login_section,
    .register_section {
        color: #bebebe;
        cursor: pointer;
    }

    .active_section {
        color: black !important;
    }

    .login_section {}

    .register_section {}

    a {
        color: #9f9f9f;
    }

    a:hover {
        color: black;
        text-decoration: none;
    }

    @media(max-width: 500px) {
        .bg_form {
            padding: 60px 10px !important;
        }
    }
</style>
<script>
    active_class('.user_form');
</script>
<!--<div class="bg_form" style="position:absolute; z-index: -1; padding: 100px 100px">-->
<!--    <img src="{% static 'src/vid/The-Best-In-Cookware.gif' %}" style="max-width: 90%; height: auto;"/>-->
<!--</div>-->
<div class="uform col-md-12">
    <div class="mx-auto text-center justify-content-center">
        <div class="col col-md-5 mx-auto text-center">
            <div class="mx-auto" style="padding: 20px">
                <div onclick="login_sec();" class="login_section mx-auto text-center active_section">
                    <h1>Login</h1>
                </div>
                <!--<div class="divider"></div>-->
                <!--<div onclick="register_sec();" class="register_section active_section  mx-auto text-center"><h1>Register</h1></div>-->
            </div>
            <div style="color: red; font-weight: 700; font-size: 1.2rem;">{{ e }}</div><br>
            <form method="post" class="mr-auto text-left signin_form"
                style="background: rgba(255, 255, 255, 0.8); z-index: 3; position: absolute;"
                action="{% url 'user_login' %}">
                {% csrf_token %}
                <div class="form-group">{% csrf_token %}
                    <label for="uname">Username or Email Address&nbsp;<span style="color: red">*</span></label>
                    <input minlength=6 class="form-control" type="text" id="uname" name="id_username1">
                </div>
                <div class="form-group">
                    <label for="pword">Password&nbsp;<span style="color: red">*</span>&nbsp;&nbsp;<span
                            style="font-size: 0.6em; color: #b7b7b7">(at least 6 characters Upper and Lower case with
                            special character $@ )</span></label>
                    <input minlength=6 class="form-control" type="password" id="pword" name="id_password1">
                </div>
                <!-- <div class="form-group mx-auto text-center captcha-field1">
                    <div class="g-recaptcha" data-callback="correctCaptcha"
                        data-sitekey="6Le0DPgUAAAAACzTR8o8KvhqHefKF-d8bXImhWmz"></div>
                </div> -->
                <div class="mx-auto text-center">
                    <div class="form-check mx-auto text-center" style="padding: 10px">
                        <input class="form-check-input check_my" type="checkbox" id="gridCheck1">
                        <label class="form-check-label" for="gridCheck1">
                            Remember Me
                        </label>
                    </div>
                    <div class="form-group mx-auto text-center">
                        <button type="submit" class="btn btn-warning login_btn"
                            style="color: white;background: orangered"><b>Log In</b></button>
                    </div>
                    <div class="form-group mx-auto text-center">
                        <a href="#"><b>Lost Your Password ?</b></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- <script src="https://www.google.com/recaptcha/api.js?render=6Le0DPgUAAAAACzTR8o8KvhqHefKF-d8bXImhWmz"></script>
    <script>
    grecaptcha.ready(function() {
        grecaptcha.execute('6Le0DPgUAAAAACzTR8o8KvhqHefKF-d8bXImhWmz', {action: 'signup'}).then(function(token) {
        //   $('.captcha-field2').append("<input style='display: none;' type='text' id='g-recaptcha-response' value="+ token +" name='g-recaptcha-response'/>");
          $('.captcha-field1').append("<input style='display: none;' type='text' id='g-recaptcha-response' value="+ token +" name='g-recaptcha-response'/>");
            $('.login_btn').prop('disabled', false);
            // $('.register_btn').prop('disabled', false);
        });
    });
    </script> -->

<script>
    var correctCaptcha = function (response) {
        $('.login_btn').prop('disabled', false);
        // $('.register_btn').prop('disabled', false);
    };
    function hide(cls) {
        $(cls).show();
        $(cls).hide();
    }
    function show(cls) {
        $(cls).hide();
        $(cls).show();
    }
    // $('.login_here').click(function () {
    //     hide('.register_form');
    //     show('.signin_form');
    // });
    function login_sec() {
        hide('.register_form');
        show('.signin_form');
        $('.register_section').removeClass('active_section');
        $('.login_section').addClass('active_section');
    }
    // $('.login_section').click(function () {

    // });
    // $('.register_section').click(function () {
    function register_sec() {
        hide('.signin_form');
        show('.register_form');
        $('.login_section').removeClass('active_section');
        $('.register_section').addClass('active_section');
    }

    // });
</script>
{% endblock navbar %}